:root {
  --Blue500: hsl(223, 87%, 63%);
  --Blue200: hsl(223, 100%, 88%);
  --Red400: hsl(354, 100%, 66%);
  --Gray400: hsl(0, 0%, 59%);
  --Blue950: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

main {
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.logo {
  width: 3.5em;
  margin-bottom: 2em;
}

.launching {
  color: var(--Gray400);
  font-size: 1.4rem;
  margin-bottom: 1em;
}

.soon {
  color: black;
  font-weight: 700;
}

.subscribe {
  font-size: 0.8rem;
  margin-bottom: 2em;
}

input {
  width: 100%;
  padding: 1em;
  border: 1px solid var(--Blue200);
  border-radius: 25px;
  margin-bottom: 1em;
}

input::placeholder {
  color: var(--Blue200);
}

.error {
  border: 2px solid var(--Red400);
}

.error-message {
  color: var(--Red400);
  font-size: 0.75rem;
  margin-bottom: 1em;
  text-align: center;
  font-style: italic;
  font-weight: 500;
}

button {
  cursor: pointer;
  border-radius: 25px;
  padding: 1em;
  border: none;
  background-color: var(--Blue500);
  color: white;
  width: 100%;
  margin-bottom: 5em;
  font-weight: 500;
  box-shadow: 0px 6px 10px rgba(34, 87, 255, 0.3);
}

.dashboard-illustration {
  max-width: 100%;
  height: auto;
  margin-bottom: 5em;
}

.social-icons {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: var(--Blue500);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: hsl(233, 8%, 62%);
}